@import 'mixins/breakpoints';
@import 'partials/shared/general';
@import 'partials/shared/header';
@import 'partials/shared/movie-card';
@import 'partials/shared/pagination';


// @import 'partials/home/hero';
// @import 'partials/home/features';

// @import 'partials/home/last-added';
// @import 'partials/home/most-downlods';
// @import 'partials/home/upcoming';

@import 'partials/all-movies/search';
@import 'partials/all-movies/movies-wrapper';
