.search {
    height: 40rem;
    background-image:
        linear-gradient(to top, rgba(black, .9) 0, rgba(black, .5) 50%, rgba(black, .9)),
        url('../../assets/posters3.jpg') ;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;


    .container {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        height: 100%;
        gap: 2rem;
        max-width: 60%;

        @include mq($md) {
            max-width: 80%;
        }

        @include mq($sm) {
            max-width: 90%;
   
        }
    }

    .search-container {

        border: none;
        font-size: 1.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 8px;
        font-size: 1.5rem;
        overflow: hidden;
        transform: translateY(3rem);

        @include mq($sm) {
            flex-direction: column;
            gap: 2rem;
        }

        input[type='text'] {
            flex: 1;
            padding: 1rem 2rem;
            border: none;
            outline: none;
            font-size: 1.1rem;
            width: 100%;
            background-color: white;
            border-radius: 8px;

            @include mq($sm) {
                width: 100%;
            }
        }

        button {
            background-color: $light-red ;
            color: white;
            border: none;
            outline: none;
            padding: 1.5rem 2.5rem;
            font-size: 1.1rem;
            border-radius: 8px;

            @include mq($sm) {
                width: 100%;
                padding: 1rem;
            }

            span {
                margin-right: 5px;
            }
        }
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        gap: 2rem;
        @include mq($lg){
            grid-template-columns: repeat(3 , 1fr);
            gap: 1rem;
        }
        @include mq($sm){
            grid-template-columns: repeat(2 , 1fr);
            gap: 1rem;
        }
        .filter {


            .title {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                @include mq($sm){
                    margin-bottom: .5rem;
                    font-size: 1rem;
                }
            }

            .select-container {
                display: block;
                border-radius: 5px;
                background: url('../../../assets/angle-down-solid.svg') no-repeat calc(100% - .5rem) 55% / 1rem,
                    $dark-gray ;

                select {
                    padding: 1rem 1.2rem;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    color: black;
                    font-size: 1.1rem;
                    background-color: white;
                    color: white;
                    appearance: none;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    background-color: transparent;
                    letter-spacing: .5px;
                    @include mq($sm){
                        font-size: .9rem;
                        padding: .7rem ;
                    }

                    option {
                        background-color: white;
                        color: black;

                    }
                }


            }
        }
    }
}