.features {
    text-align: center;
    padding-top: 4rem;

    .title{
        color: $title-color;
        font-family: $title-font-family;
        text-align: center;
        font-size: 2.5rem;
        position: relative;
        display: inline-block;
        margin-bottom: 4rem;
        &::after{
            content: '';
            position: absolute ;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: $light-red;
            left: 0;
            bottom: -.5rem;
        }

    }

    &-items{
        display: flex;
        gap: 2rem ;
    }

    .feature{
        background-color: white ;
        border-radius: 15px;
        padding:1.3rem  1rem ;
        box-shadow: 0 0 18px 0 rgba(black , .1);
        display: flex;
        flex-direction: column;
        gap: 1.5rem     ;
        flex: 1;
        transition: .1s linear;
        &:hover{
            transform: scale(1.2);
        }
        &-logo{
            color: $light-red;
            font-size: 2.5rem;
        }
        &-title{
            color: $title-color;
            font-size: 1.6rem;

        }
        p{
            color: $text-color;
        }
    }
}