

header{

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    transition: .2s linear;
    &.scrolled{
        background-color: white ;
        box-shadow: 0 2px 18px 2px rgba(black , .1);
        nav .link{
            color: $title-color;
        }
    }
    nav {
        padding: 2rem 0;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        @include mq($sm){
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        .logo img{
            width: 8rem;
        }

        .nav-search{
            border: 1px solid $dark-gray;
            padding: 0.8rem 1.5rem;
            border-radius: 20px;
            display: flex;
            width: 30rem;

            span i {
                color: $dark-gray;
                font-size: 1.2rem;
                //margin-top: .5rem;
            }
            input{
                border: none;
                outline: none;
                padding: 0rem 1rem;
                color: $dark-gray;
                font-size: 1rem;
                letter-spacing: 1px;
                flex: 1;
                align-items: center;
                background-color: transparent;
                font-size: .9rem;
            }
            
        }
        .link , .link::after {
            transition: .1s linear;
        }
        a.link{
            color : white   ;
            position: relative ;

            &::after{
                content : '';
                display: block;
                background-color: $light-red;
                width: 0 ;
                height: 3px;
                position: absolute;
                bottom: -.5rem;
                left: 0;
            }
            &:hover{
                color: $light-red;
                &::after{
                    width: 100%;
                }
            }
        }
    }
}