$bg-light-gray : rgba(246, 247, 255, 1);

$dark-gray : rgba(130, 155, 176, 1);
$light-gray : rgba(219, 224, 233, 1);

$title-color : rgba(75, 93, 109, 1);
$title-font-family : 'Raleway', sans-serif;

$text-color : rgba(182, 196, 210, 1);
$text-font-family : 'Lunasima', sans-serif;

$logo-text-color : rgba(55, 75, 91, 1);

$light-red : rgba(216, 31, 38, 1);

// dark mode variables
$bg-dark : rgba(27, 27, 32, 1);

$white : rgba(white  , 1);
$black : rgba(black , 1);

$max-container-width : 1200px;

// breakpoints 
$sm : 768px;
$md : 992px;
$lg : 1200px;


